.root {
    -fx-base: #EFEFEF;
    -fx-background-color: #EFEFEF;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 12pt;
}
.table-view {
    -fx-font-size: 11pt;
    -fx-border-width: 1;
    -fx-border-color: black;
}
.hyperlink {
    -fx-font-weight: bold;
}
.table-view .button {
    -fx-background-color: transparent;
    -fx-padding: 2 2 2 2;
    -fx-max-width: 42px;
}

.table-view .button:hover {
    -fx-background-color: rgb(255, 255, 255, 0.5);
}

.row-selection {
    -fx-focus-color: transparent;
}

.table-view:focused .table-row-cell:filled:focused:selected,
.table-row-cell:filled:focused:selected,
.table-view:row-selection .table-row-cell:filled:hover,
.table-view:focused .table-row-cell:filled:focused:selected:hover,
.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: #666666;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-text-inner-color;
    -fx-font-weight: bold;
}
.table-row-cell:hover .hyperlink {
    -fx-text-fill: white;
}
.table-row-cell:even {
    -fx-background-color: #eaeaea;
}
.contentArea {
    -fx-background-color: #EFEFEF;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-padding: 10 0 10 0;
}
.AllInfo {
    -fx-background-color: #EFEFEF;
    -fx-padding: 5 5 5 5;
}
.Title {
    -fx-font-size: 17pt;
    -fx-font-weight: bold;
}
.FieldName {
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
}
.FieldValue {
    -fx-font-size: 13pt;
}
.Tooltip-Title {
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
}
.Tooltip-Value {
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}
.Tooltip-Login {
    -fx-font-size: 11pt;
}

.Tooltip-Circle {
    -fx-stroke-width: 2;
    -fx-fill: white;
}

.tooltip {
    -fx-background: rgb(255, 255, 255, 0.8);
    -fx-text-fill: black;
    -fx-background-color: rgb(255, 255, 255, 1);
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
    -fx-font-size: 0.85em;
}

